body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #979797;


}

header{
    width:100%;
overflow: auto;
color: #979797;
background-color: #333333;

padding: 20px 0;

}
section{
    width:100%;
overflow: auto;
color: #979797;
background-color: white;
}
.container {
    display: block;
    width: 960px;
    margin: auto;
  padding-top: 2%;
    margin-bottom: 20px;
   
    
    
}
header h1{
    display:inline-block;
    font-size: 36px;
    padding: 0;
    margin: 0;
    font-weight: normal;

}

.f-left{
    float: left;
    }
    .f-right{
        float: right;
    }
    
h2{
    margin: 0;
    font-size: 13px;
   
}
ul{ display: block;
    float: right;
     margin: 20px 0 20px 0;
     padding: 5px 5px;

    padding: 0;
}
ul li{
    list-style-type: none;
    text-transform: uppercase;
    display: inline;
    transition: all .6s ease-in-out;
    margin: 0 10px;
    font-size: 15px;
}

li:hover{
    color: #FF9900;
}
/* #container{
    padding-top: 2%;
    height: 300px;
    margin-bottom: 20px;
    
} */
.container .leftfig{
    width:280px;
    background-color: #dedede;
    padding: 20px;
    color:#989898;
    height: 260px;
    line-height: 1.6;
   
}
.leftfig h2{
    font-size: 40px;
    font-style: italic;
    font-weight: normal;
    line-height: normal;
    
}
.container a{
    text-decoration: none;
    color: #FF9900;
    margin-top: 15px;
}
.container .rightfig{
    width:60%;
    margin-left: 10px;
}
.slider{
    display: flex;
    width: 960px;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 20px;
}.slider h2{
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 2.5;
}
.img{
    float: left;
    width: 80px;
    height: 80px;
    margin: 0 10px 10px 0;
    padding: 4px;
    border: 1px solid #DEDEDE;
}
.slider a{
    text-decoration: none;
    color: #FF9900;
    margin-top: 15px;
}

.slider .left{
    width:300px;
    margin-bottom: 20px;
}
 .figurediv{
    width:225px;
}
.figurediv img{
   
    width: 205px;
    height: 100px;
    margin: 0 10px 10px 0;
    padding: 4px;
    border: 1px solid #DEDEDE;
}
footer{
    padding: 10px 0;
    display: block;
    width: 960px;
    margin: auto;
    border-top: 1px solid #DEDEDE;
    background-color: #333333;
    height: 50px;

  
   
  
}


footer a{
    text-decoration: none;
    color:#979797 ;
}
